<div class="container">
  <h1 class="title">Hello from Dastan Rakhmanzhanov</h1>
  <div class="main-wrapper">
    <div class="container card-container">
      <div class="card" routerLink="/components-interaction">
        <h2>Components interaction</h2>
      </div>

      <div class="card" routerLink="/content-projection">
        <h2>Content projection</h2>
      </div>

      <div class="card" routerLink="/observable">
        <h2>RXJS Operators (debounceTime)</h2>
      </div>

      <div class="card" routerLink="/table">
        <h2>Tables, CRUD, Filtering</h2>
      </div>

      <div class="card" routerLink="/template-outlet">
        <h2>ng-template-outlet</h2>
      </div>
    </div>
    <div class="card-presentation">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
