<div class="container">
  <label for="search" style="margin-right: 1rem"
    >Search field (implemented right in class of component):
  </label>
  <input
    name="search"
    id="search"
    type="text"
    placeholder="search for..."
    #searchInput
    [formControl]="input1"
  />

  <hr />
  <label for="search2" style="margin-right: 1rem"
    >Search field (implemented in service folder seperately):
  </label>
  <input
    name="search2"
    id="search"
    type="text"
    placeholder="search for..."
    #searchInput2
    [formControl]="input2"
  />
  <hr />
  <h3>{{ input1.value }}</h3>
  <h3>{{ input2.value }}</h3>
  <hr />
  <h4>Your search history:</h4>
  <p *ngFor="let el of searchQueries">{{ el }}</p>
</div>
